* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 50px;
  width: 300px;
}

.form-item label {
  color: #ccc;
  font-size: 18px;
  transition: 0.4s ease;
  position: absolute;
  bottom: 5px;
  cursor: auto;
}

#username,
#username:focus {
  height: 35px;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: 2px solid #ccc;
}

.form-item .bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  transform: translate(-50%, -50%);
  background-color: #5264ae;
  transition: 0.4s ease;
}

.form-item input:focus ~ .bar {
  width: 100%;
}
/* 当文本框有文字时 */
.form-item input:valid ~ label,
.form-item input:focus ~ label {
  color: #5264ae;
  transform: translateY(-30px);
  font-size: 16px;
  cursor: default;
}
