* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #000;
}

.audioContainer {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

audio {
  margin: 30px;
}

canvas {
  display: block;
  margin: 0 auto;
  background: transparent;
}
