body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

canvas {
  border-radius: 50%;
  background-color: transparent;
}
